/* fw-style.less */
/* mq.less */
/* easy-break.less */
/* colors.less
 * =========
 *
 * This file generates the colors for a porgram based on a hue and brightness modifier.
 *
 * Contents
 * ---------
 * Color Variables
 * Generated Colors
 * Fixed Colors.
 *
 */
/* responsive-embed.less */
.responsive-embed-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}
.responsive-embed-wrapper iframe,
.responsive-embed-wrapper object,
.responsive-embed-wrapper .responsive-embed-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.responsive-embed-16-9 {
  padding-bottom: 56.25%;
}
.responsive-embed-4-3 {
  padding-bottom: 75%;
}
/* fw-grid.less */
.fw-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.fw-row {
  display: block;
}
.fw-column {
  display: block;
  float: left;
  min-height: 1px;
}
.s-1 {
  width: 8.33333333%;
}
.s-2 {
  width: 16.66666667%;
}
.s-3 {
  width: 25%;
}
.s-4 {
  width: 33.33333333%;
}
.s-5 {
  width: 41.66666667%;
}
.s-6 {
  width: 50%;
}
.s-7 {
  width: 58.33333333%;
}
.s-8 {
  width: 66.66666667%;
}
.s-9 {
  width: 75%;
}
.s-10 {
  width: 83.33333333%;
}
.s-11 {
  width: 91.66666667%;
}
.s-12 {
  width: 100%;
}
.offset-s-1 {
  margin-left: 8.33333333%;
}
.offset-s-2 {
  margin-left: 16.66666667%;
}
.offset-s-3 {
  margin-left: 25%;
}
.offset-s-4 {
  margin-left: 33.33333333%;
}
.offset-s-5 {
  margin-left: 41.66666667%;
}
.offset-s-6 {
  margin-left: 50%;
}
.offset-s-7 {
  margin-left: 58.33333333%;
}
.offset-s-8 {
  margin-left: 66.66666667%;
}
.offset-s-9 {
  margin-left: 75%;
}
.offset-s-10 {
  margin-left: 83.33333333%;
}
.offset-s-11 {
  margin-left: 91.66666667%;
}
.gutter-padding,
.lone {
  padding: 8px;
}
.gutter-padding-full {
  padding: 16px;
}
.gutter-margin,
.lone,
.fw-content-box,
.fw-input-group,
.fw-button-group {
  margin: 8px;
}
.gutter-margin-full {
  margin: 8px;
}
.gutter-padding-y {
  padding-top: 8px;
  padding-bottom: 8px;
}
.gutter-margin-y,
.fw-content-box header h1,
.fw-content-box header h2,
.fw-content-box header h3,
.fw-content-box header h4,
.fw-content-box header h5,
.fw-content-box header h6,
.fw-content-box header p,
.fw-content-box header ul,
.fw-content-box header ol,
.fw-content-box .fw-nav-ul,
.fw-content-box .fw-collection-ul {
  margin-top: 8px;
  margin-bottom: 8px;
}
.gutter-padding-y-full {
  padding-top: 16px;
  padding-bottom: 16px;
}
.gutter-margin-y-full {
  margin-top: 16px;
  margin-bottom: 16px;
}
.gutter-padding-x,
.fw-content-box .fw-nav-ul a,
.fw-content-box .fw-collection-ul li {
  padding-left: 8px;
  padding-right: 8px;
}
.gutter-margin-x,
.fw-content-box h1,
.fw-content-box h2,
.fw-content-box h3,
.fw-content-box h4,
.fw-content-box h5,
.fw-content-box h6,
.fw-content-box p,
.fw-content-box ul,
.fw-content-box ol {
  margin-left: 8px;
  margin-right: 8px;
}
.gutter-padding-x-full {
  padding-left: 16px;
  padding-right: 16px;
}
.gutter-margin-x-full {
  margin-left: 16px;
  margin-right: 16px;
}
.newRow-s-1 .fw-column:nth-of-type( 1n + 1) {
  clear: left;
}
.newRow-s-2 .fw-column:nth-of-type( 2n + 1) {
  clear: left;
}
.newRow-s-3 .fw-column:nth-of-type( 3n + 1) {
  clear: left;
}
.newRow-s-4 .fw-column:nth-of-type( 4n + 1) {
  clear: left;
}
.newRow-s-5 .fw-column:nth-of-type( 5n + 1) {
  clear: left;
}
.newRow-s-6 .fw-column:nth-of-type( 6n + 1) {
  clear: left;
}
.newRow-s-7 .fw-column:nth-of-type( 7n + 1) {
  clear: left;
}
.newRow-s-8 .fw-column:nth-of-type( 8n + 1) {
  clear: left;
}
.newRow-s-9 .fw-column:nth-of-type( 9n + 1) {
  clear: left;
}
.newRow-s-10 .fw-column:nth-of-type( 10n + 1) {
  clear: left;
}
.newRow-s-11 .fw-column:nth-of-type( 11n + 1) {
  clear: left;
}
@media (min-width: 35em) {
  .m-1 {
    width: 8.33333333%;
  }
  .m-2 {
    width: 16.66666667%;
  }
  .m-3 {
    width: 25%;
  }
  .m-4 {
    width: 33.33333333%;
  }
  .m-5 {
    width: 41.66666667%;
  }
  .m-6 {
    width: 50%;
  }
  .m-7 {
    width: 58.33333333%;
  }
  .m-8 {
    width: 66.66666667%;
  }
  .m-9 {
    width: 75%;
  }
  .m-10 {
    width: 83.33333333%;
  }
  .m-11 {
    width: 91.66666667%;
  }
  .m-12 {
    width: 100%;
  }
  .offset-m-1 {
    margin-left: 8.33333333%;
  }
  .offset-m-2 {
    margin-left: 16.66666667%;
  }
  .offset-m-3 {
    margin-left: 25%;
  }
  .offset-m-4 {
    margin-left: 33.33333333%;
  }
  .offset-m-5 {
    margin-left: 41.66666667%;
  }
  .offset-m-6 {
    margin-left: 50%;
  }
  .offset-m-7 {
    margin-left: 58.33333333%;
  }
  .offset-m-8 {
    margin-left: 66.66666667%;
  }
  .offset-m-9 {
    margin-left: 75%;
  }
  .offset-m-10 {
    margin-left: 83.33333333%;
  }
  .offset-m-11 {
    margin-left: 91.66666667%;
  }
  .gutter-padding,
  .lone {
    padding: 10px;
  }
  .gutter-padding-full {
    padding: 20px;
  }
  .gutter-margin,
  .lone,
  .fw-content-box,
  .fw-input-group,
  .fw-button-group {
    margin: 10px;
  }
  .gutter-margin-full {
    margin: 10px;
  }
  .gutter-padding-y {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .gutter-margin-y,
  .fw-content-box header h1,
  .fw-content-box header h2,
  .fw-content-box header h3,
  .fw-content-box header h4,
  .fw-content-box header h5,
  .fw-content-box header h6,
  .fw-content-box header p,
  .fw-content-box header ul,
  .fw-content-box header ol,
  .fw-content-box .fw-nav-ul,
  .fw-content-box .fw-collection-ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .gutter-padding-y-full {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .gutter-margin-y-full {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .gutter-padding-x,
  .fw-content-box .fw-nav-ul a,
  .fw-content-box .fw-collection-ul li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gutter-margin-x,
  .fw-content-box h1,
  .fw-content-box h2,
  .fw-content-box h3,
  .fw-content-box h4,
  .fw-content-box h5,
  .fw-content-box h6,
  .fw-content-box p,
  .fw-content-box ul,
  .fw-content-box ol {
    margin-left: 10px;
    margin-right: 10px;
  }
  .gutter-padding-x-full {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gutter-margin-x-full {
    margin-left: 20px;
    margin-right: 20px;
  }
  .newRow-m-1 .fw-column:nth-of-type( 1n + 1) {
    clear: left;
  }
  .newRow-m-2 .fw-column:nth-of-type( 2n + 1) {
    clear: left;
  }
  .newRow-m-3 .fw-column:nth-of-type( 3n + 1) {
    clear: left;
  }
  .newRow-m-4 .fw-column:nth-of-type( 4n + 1) {
    clear: left;
  }
  .newRow-m-5 .fw-column:nth-of-type( 5n + 1) {
    clear: left;
  }
  .newRow-m-6 .fw-column:nth-of-type( 6n + 1) {
    clear: left;
  }
  .newRow-m-7 .fw-column:nth-of-type( 7n + 1) {
    clear: left;
  }
  .newRow-m-8 .fw-column:nth-of-type( 8n + 1) {
    clear: left;
  }
  .newRow-m-9 .fw-column:nth-of-type( 9n + 1) {
    clear: left;
  }
  .newRow-m-10 .fw-column:nth-of-type( 10n + 1) {
    clear: left;
  }
  .newRow-m-11 .fw-column:nth-of-type( 11n + 1) {
    clear: left;
  }
}
@media (min-width: 49em) {
  .l-1 {
    width: 8.33333333%;
  }
  .l-2 {
    width: 16.66666667%;
  }
  .l-3 {
    width: 25%;
  }
  .l-4 {
    width: 33.33333333%;
  }
  .l-5 {
    width: 41.66666667%;
  }
  .l-6 {
    width: 50%;
  }
  .l-7 {
    width: 58.33333333%;
  }
  .l-8 {
    width: 66.66666667%;
  }
  .l-9 {
    width: 75%;
  }
  .l-10 {
    width: 83.33333333%;
  }
  .l-11 {
    width: 91.66666667%;
  }
  .l-12 {
    width: 100%;
  }
  .offset-l-1 {
    margin-left: 8.33333333%;
  }
  .offset-l-2 {
    margin-left: 16.66666667%;
  }
  .offset-l-3 {
    margin-left: 25%;
  }
  .offset-l-4 {
    margin-left: 33.33333333%;
  }
  .offset-l-5 {
    margin-left: 41.66666667%;
  }
  .offset-l-6 {
    margin-left: 50%;
  }
  .offset-l-7 {
    margin-left: 58.33333333%;
  }
  .offset-l-8 {
    margin-left: 66.66666667%;
  }
  .offset-l-9 {
    margin-left: 75%;
  }
  .offset-l-10 {
    margin-left: 83.33333333%;
  }
  .offset-l-11 {
    margin-left: 91.66666667%;
  }
  .gutter-padding,
  .lone {
    padding: 12px;
  }
  .gutter-padding-full {
    padding: 24px;
  }
  .gutter-margin,
  .lone,
  .fw-content-box,
  .fw-input-group,
  .fw-button-group {
    margin: 12px;
  }
  .gutter-margin-full {
    margin: 12px;
  }
  .gutter-padding-y {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .gutter-margin-y,
  .fw-content-box header h1,
  .fw-content-box header h2,
  .fw-content-box header h3,
  .fw-content-box header h4,
  .fw-content-box header h5,
  .fw-content-box header h6,
  .fw-content-box header p,
  .fw-content-box header ul,
  .fw-content-box header ol,
  .fw-content-box .fw-nav-ul,
  .fw-content-box .fw-collection-ul {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .gutter-padding-y-full {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .gutter-margin-y-full {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .gutter-padding-x,
  .fw-content-box .fw-nav-ul a,
  .fw-content-box .fw-collection-ul li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .gutter-margin-x,
  .fw-content-box h1,
  .fw-content-box h2,
  .fw-content-box h3,
  .fw-content-box h4,
  .fw-content-box h5,
  .fw-content-box h6,
  .fw-content-box p,
  .fw-content-box ul,
  .fw-content-box ol {
    margin-left: 12px;
    margin-right: 12px;
  }
  .gutter-padding-x-full {
    padding-left: 24px;
    padding-right: 24px;
  }
  .gutter-margin-x-full {
    margin-left: 24px;
    margin-right: 24px;
  }
  .newRow-l-1 .fw-column:nth-of-type( 1n + 1) {
    clear: left;
  }
  .newRow-l-2 .fw-column:nth-of-type( 2n + 1) {
    clear: left;
  }
  .newRow-l-3 .fw-column:nth-of-type( 3n + 1) {
    clear: left;
  }
  .newRow-l-4 .fw-column:nth-of-type( 4n + 1) {
    clear: left;
  }
  .newRow-l-5 .fw-column:nth-of-type( 5n + 1) {
    clear: left;
  }
  .newRow-l-6 .fw-column:nth-of-type( 6n + 1) {
    clear: left;
  }
  .newRow-l-7 .fw-column:nth-of-type( 7n + 1) {
    clear: left;
  }
  .newRow-l-8 .fw-column:nth-of-type( 8n + 1) {
    clear: left;
  }
  .newRow-l-9 .fw-column:nth-of-type( 9n + 1) {
    clear: left;
  }
  .newRow-l-10 .fw-column:nth-of-type( 10n + 1) {
    clear: left;
  }
  .newRow-l-11 .fw-column:nth-of-type( 11n + 1) {
    clear: left;
  }
}
@media (min-width: 60em) {
  .xl-1 {
    width: 8.33333333%;
  }
  .xl-2 {
    width: 16.66666667%;
  }
  .xl-3 {
    width: 25%;
  }
  .xl-4 {
    width: 33.33333333%;
  }
  .xl-5 {
    width: 41.66666667%;
  }
  .xl-6 {
    width: 50%;
  }
  .xl-7 {
    width: 58.33333333%;
  }
  .xl-8 {
    width: 66.66666667%;
  }
  .xl-9 {
    width: 75%;
  }
  .xl-10 {
    width: 83.33333333%;
  }
  .xl-11 {
    width: 91.66666667%;
  }
  .xl-12 {
    width: 100%;
  }
  .offset-xl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xl-11 {
    margin-left: 91.66666667%;
  }
  .gutter-padding,
  .lone {
    padding: 14px;
  }
  .gutter-padding-full {
    padding: 28px;
  }
  .gutter-margin,
  .lone,
  .fw-content-box,
  .fw-input-group,
  .fw-button-group {
    margin: 14px;
  }
  .gutter-margin-full {
    margin: 14px;
  }
  .gutter-padding-y {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .gutter-margin-y,
  .fw-content-box header h1,
  .fw-content-box header h2,
  .fw-content-box header h3,
  .fw-content-box header h4,
  .fw-content-box header h5,
  .fw-content-box header h6,
  .fw-content-box header p,
  .fw-content-box header ul,
  .fw-content-box header ol,
  .fw-content-box .fw-nav-ul,
  .fw-content-box .fw-collection-ul {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .gutter-padding-y-full {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .gutter-margin-y-full {
    margin-top: 28px;
    margin-bottom: 28px;
  }
  .gutter-padding-x,
  .fw-content-box .fw-nav-ul a,
  .fw-content-box .fw-collection-ul li {
    padding-left: 14px;
    padding-right: 14px;
  }
  .gutter-margin-x,
  .fw-content-box h1,
  .fw-content-box h2,
  .fw-content-box h3,
  .fw-content-box h4,
  .fw-content-box h5,
  .fw-content-box h6,
  .fw-content-box p,
  .fw-content-box ul,
  .fw-content-box ol {
    margin-left: 14px;
    margin-right: 14px;
  }
  .gutter-padding-x-full {
    padding-left: 28px;
    padding-right: 28px;
  }
  .gutter-margin-x-full {
    margin-left: 28px;
    margin-right: 28px;
  }
  .newRow-xl-1 .fw-column:nth-of-type( 1n + 1) {
    clear: left;
  }
  .newRow-xl-2 .fw-column:nth-of-type( 2n + 1) {
    clear: left;
  }
  .newRow-xl-3 .fw-column:nth-of-type( 3n + 1) {
    clear: left;
  }
  .newRow-xl-4 .fw-column:nth-of-type( 4n + 1) {
    clear: left;
  }
  .newRow-xl-5 .fw-column:nth-of-type( 5n + 1) {
    clear: left;
  }
  .newRow-xl-6 .fw-column:nth-of-type( 6n + 1) {
    clear: left;
  }
  .newRow-xl-7 .fw-column:nth-of-type( 7n + 1) {
    clear: left;
  }
  .newRow-xl-8 .fw-column:nth-of-type( 8n + 1) {
    clear: left;
  }
  .newRow-xl-9 .fw-column:nth-of-type( 9n + 1) {
    clear: left;
  }
  .newRow-xl-10 .fw-column:nth-of-type( 10n + 1) {
    clear: left;
  }
  .newRow-xl-11 .fw-column:nth-of-type( 11n + 1) {
    clear: left;
  }
}
.row.reverse .column {
  float: right;
}
@media (max-width: 35em) {
  .nr-s {
    clear: both;
  }
}
@media (min-width: 35em) and (max-width: 49em) {
  .nr-m {
    clear: both;
  }
}
@media (min-width: 49em) and (max-width: 60em) {
  .nr-l {
    clear: both;
  }
}
@media (min-width: 60em) {
  .nr-xl {
    clear: both;
  }
}
/* cf.less */
.cf,
.fw-row,
.fw-input-group,
.fw-button-group {
  *zoom: 1;
}
.cf:before,
.cf:after,
.fw-row:before,
.fw-row:after,
.fw-input-group:before,
.fw-input-group:after,
.fw-button-group:before,
.fw-button-group:after {
  content: " ";
  display: table;
}
.cf:after,
.fw-row:after,
.fw-input-group:after,
.fw-button-group:after {
  clear: both;
}
/* mq-show-hide.less */
@media (max-width: 35em) {
  .hide-s,
  .show-m,
  .show-l,
  .show-xl {
    display: none !important;
  }
}
@media (min-width: 35em) and (max-width: 49em) {
  .hide-m,
  .show-s,
  .show-l,
  .show-xl {
    display: none !important;
  }
}
@media (min-width: 49em) and (max-width: 60em) {
  .hide-l,
  .show-s,
  .show-m,
  .show-xl {
    display: none !important;
  }
}
@media (min-width: 60em) {
  .hide-xl,
  .show-s,
  .show-m,
  .show-l {
    display: none !important;
  }
}
/* modal.less */
.modal-container {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: rgba(61, 62, 64, 0.85);
  top: 0;
  left: 0;
  display: none;
}
.modal-container.show-modal:first-of-type {
  display: block;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* header.less
 * =========
 *
 * This file controls styling for the header.
 * This included navigation, session controls, and app select
 *
 * Contents
 * ---------
 * Header Variables
 *
 */
.fw-header {
  background: #3258a6;
}
.fw-main-nav {
  background: #3d3e40;
  font-size: 16px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.fw-main-nav ul {
  display: block;
  white-space: nowrap;
  text-align: center;
}
.fw-main-nav li {
  padding: 6px;
  display: inline-block;
}
.fw-main-nav a {
  display: block;
  padding: 4px 5px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}
.fw-main-nav a.active {
  font-weight: 700;
}
.fw-main-nav a:hover {
  background: #3f70d1;
}
/* content.less
 * =========
 *
 * This file controls styling for the content.
 * everything that is not the header or footer
 *
 * Contents
 * ---------
 * Content Variables
 * Modifier Classes
 * Imports
 *
 */
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
hr {
  height: 1px;
  background-color: #bdbdbd;
  border: none;
  margin: 0;
  padding: 0;
}
.text-smaller {
  font-size: 0.8em;
}
.text-smallest {
  font-size: 0.6em;
}
.text-muted {
  color: #333333;
}
.text-center {
  text-align: center;
}
.right {
  float: right;
}
.left {
  float: left;
}
.remove-margin-bottom {
  margin-bottom: 0 !important;
}
.remove-padding-bottom {
  padding-bottom: 0 !important;
}
.fw-content-box {
  background: #ffffff;
  border: 1px solid #bdbdbd;
}
.fw-content-box header {
  border-bottom: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
}
.fw-content-box header:first-child {
  border-top: 0;
}
.fw-content-box .fw-nav-ul {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style: none;
}
.fw-content-box .fw-nav-ul li {
  padding: 0;
}
.fw-content-box .fw-nav-ul a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 2px;
}
.fw-content-box .fw-nav-ul a:hover,
.fw-content-box .fw-nav-ul a.active:hover {
  background-color: #91ade5;
}
.fw-content-box .fw-nav-ul a.active {
  background-color: #e3e3e3;
}
.fw-content-box .fw-collection-ul {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style: none;
}
.fw-content-box .fw-collection-ul li {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.fw-content-box .fw-collection-ul li:hover {
  background-color: #91ade5;
}
.fw-content-box .fw-collection-ul .fw-button-group {
  height: 22px;
  margin: 0;
  float: right;
}
.fw-content-box .fw-collection-ul .fw-button-group a,
.fw-content-box .fw-collection-ul .fw-button-group button {
  height: 100%;
  padding: 0 0.5em;
  line-height: 20px;
}
.fw-content-box .fw-collection-ul .fw-button-group.right a,
.fw-content-box .fw-collection-ul .fw-button-group.right button {
  margin-right: 0;
  margin-left: 5px;
}
.fw-content-box .fw-collection-ul.hover-buttons li .fw-button-group {
  visibility: hidden;
}
.fw-content-box .fw-collection-ul.hover-buttons li:hover .fw-button-group {
  visibility: visible;
}
/* forms.less
 * =========
 *
 * This file controls styling forms.
 * This includs input, textareas, selects, ect.
 *
 * Contents
 * ---------
 * Inputs
 * Labels
 *
 */
input:not([type=submit]):not([type=file]) {
  display: block;
  font-size: 1em;
  background: #eaeaea;
  border: 1px solid #bdbdbd;
  cursor: pointer;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  line-height: 1.2;
  width: 100%;
}
select {
  display: block;
  font-size: 1em;
  background: #eaeaea;
  border: 1px solid #bdbdbd;
  cursor: pointer;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  line-height: 1.2;
  border-radius: 0px;
  min-width: 120px;
  height: 2em;
  width: 100%;
}
textarea {
  display: block;
  font-size: 1em;
  background: #eaeaea;
  border: 1px solid #bdbdbd;
  cursor: pointer;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  line-height: 1.2;
  min-height: 180px;
  width: 100%;
}
.fw-input-group {
  margin-bottom: 0 !important;
}
.fw-float-label {
  position: relative;
}
.fw-float-label * {
  transition: all 0.5s ease;
}
.fw-float-label input:focus,
.fw-float-label textarea:focus,
.fw-float-label select:focus,
.fw-float-label input:valid,
.fw-float-label textarea:valid,
.fw-float-label select:valid {
  margin-top: 24px;
}
.fw-float-label input:focus + label,
.fw-float-label textarea:focus + label,
.fw-float-label select:focus + label,
.fw-float-label input:valid + label,
.fw-float-label textarea:valid + label,
.fw-float-label select:valid + label {
  height: 24px;
}
.fw-float-label:before {
  display: table;
  content: " ";
}
.fw-float-label label {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 0;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}
.fw-button-group a,
.fw-button-group button {
  margin-top: 0;
  margin-right: 5px;
  margin-left: 0;
  margin-bottom: 0;
  display: block;
  float: left;
}
.fw-button,
.fw-button-group a,
.fw-button-group button {
  font-size: 1em;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  line-height: 1.4;
  color: inherit;
  text-decoration: none;
}
.fw-button:hover,
.fw-button-group a:hover,
.fw-button-group button:hover {
  background: #eaeaea;
}
.fw-button.fw-button-smaller,
.fw-button-group.fw-button-smaller a,
.fw-button-group.fw-button-smaller button,
.fw-button-group a.fw-button-smaller,
.fw-button-group button.fw-button-smaller {
  font-size: 0.8em;
}
.fw-button.fw-button-smallest,
.fw-button-group.fw-button-smallest a,
.fw-button-group.fw-button-smallest button,
.fw-button-group a.fw-button-smallest,
.fw-button-group button.fw-button-smallest {
  font-size: 0.6em;
}
/* vaeiables.less */
body {
  font-family: 'Open Sans', sans-serif;
  background: #eaeaea;
}
html {
  -webkit-text-size-adjust: 100%;
}
body,
html,
ul,
li {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
