@base-font-size: 16px;

body{
    font-family: 'Open Sans', sans-serif;
    background:  @c-off-white;
}

html {
    -webkit-text-size-adjust: 100%; //prevents text from scaling in ios
}

body, html, ul, li {
    margin: 0;
    padding: 0;
    font-size: @base-font-size;
}

//boder-box rule insipred Paul Irish
*, *:before, *:after {
  box-sizing: border-box;
  user-select: none;
}