/* cf.less */
 
// This module is a simple clearfloat
//
// =========
//
// Contents
// ---------
// the clear float

// the clear float
////////////////////////////////////////////////////////////////////////////////

.cf {
    *zoom: 1;

    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}