/* dropdown.less
 * =========
 *
 * This file controls styling for dropdowns.
 * 
 */
.dropdown {
    position: relative;
    cursor: pointer;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 100;
    list-style: none;
    border: 1px solid @c-grey;
    background: @c-white;
    padding: 5px 0px;

    & > li > a,
    & > li > button {
        display: block;
        clear: both;
        padding: 5px 20px;
        width: 100%;
        border-radius: 3px;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        color: inherit;

        &:hover,
        &:focus {
            background-color: lighten(@c-2, 20%);
        }
    }

    &.flip {
        left: auto;
        right: 0;
    }
}