/* fw-grid.less */
 
// float base grid
//
// =========
//
// Requires
// ---------
// mq.less
//
// Contents
// ---------
// m-grid variables
// setup classes
// width loop
// offset loop
// gutter mixin
// call all the loops and mixins

// m-grid variables
////////////////////////////////////////////////////////////////////////////////

@max-page-width: 1500px;
@column-count: 12;

@gutter-s: 16px;
@gutter-m: 20px;
@gutter-l: 24px;
@gutter-xl: 28px;

// setup classes
////////////////////////////////////////////////////////////////////////////////

.fw-container {
	width: 100%;
	max-width: @max-page-width;
	margin: 0 auto;
}

.fw-row {
	&:extend(.cf all);
	display: block;
}

.fw-column {
	display: block;
	float: left;
	min-height: 1px; // prevent a column from lossing layout
}


// width loop
////////////////////////////////////////////////////////////////////////////////

.generate-widths(@level, @i: 1) when (@i =< @column-count){

	.@{level}-@{i} {
		width: (@i / @column-count * 100%);
	}

	.generate-widths(@level: @level, @i: @i + 1);
}


// offset loop
////////////////////////////////////////////////////////////////////////////////

.generate-offsets(@level, @i: 1) when (@i < @column-count){

	.offset-@{level}-@{i} {
		margin-left: (@i / @column-count * 100%);
	}

	.generate-offsets(@level: @level, @i: @i + 1);
}

// gutter mixin
////////////////////////////////////////////////////////////////////////////////

.generate-gutters(@level) {

	@gutter-var-name: ~"gutter-@{level}";

	.gutter-padding {
		padding: @@gutter-var-name / 2px;
	}

	.gutter-padding-full {
		padding: @@gutter-var-name * 1px;
	}

	.gutter-margin {
		margin: @@gutter-var-name / 2px;
	}

	.gutter-margin-full {
		margin: @@gutter-var-name / 2px;
	}

	.gutter-padding-y {
		padding-top: @@gutter-var-name / 2px;
		padding-bottom: @@gutter-var-name / 2px;
	}

	.gutter-margin-y {
		margin-top: @@gutter-var-name / 2px;
		margin-bottom: @@gutter-var-name / 2px;
	}

	.gutter-padding-y-full {
		padding-top: @@gutter-var-name * 1px;
		padding-bottom: @@gutter-var-name * 1px;
	}

	.gutter-margin-y-full {
		margin-top: @@gutter-var-name * 1px;
		margin-bottom: @@gutter-var-name * 1px;
	}

	.gutter-padding-x {
		padding-left: @@gutter-var-name / 2px;
		padding-right: @@gutter-var-name / 2px;
	}

	.gutter-margin-x {
		margin-left: @@gutter-var-name / 2px;
		margin-right: @@gutter-var-name / 2px;
	}

	.gutter-padding-x-full {
		padding-left: @@gutter-var-name * 1px;
		padding-right: @@gutter-var-name * 1px;
	}

	.gutter-margin-x-full {
		margin-left: @@gutter-var-name * 1px;
		margin-right: @@gutter-var-name * 1px;
	}
}

.generate-newRow(@level, @i: 1) when (@i < @column-count){

    .newRow-@{level}-@{i} {
        
        .fw-column:nth-of-type(@{i}n+ 1) {
            clear: left;
        }

    }

    .generate-newRow(@level: @level, @i: @i + 1);
}


// call all the loops and mixins
////////////////////////////////////////////////////////////////////////////////

.generate-widths(s);
.generate-offsets(s);
.generate-gutters(s);
.generate-newRow(s);

@media @mq-m {
	.generate-widths(m);
	.generate-offsets(m);
	.generate-gutters(m);
    .generate-newRow(m);
}

@media @mq-l {
	.generate-widths(l);
	.generate-offsets(l);
	.generate-gutters(l);
    .generate-newRow(l);
}

@media @mq-xl{
	.generate-widths(xl);
	.generate-offsets(xl);
	.generate-gutters(xl);
    .generate-newRow(xl);
}


// call all the loops and mixins
////////////////////////////////////////////////////////////////////////////////

// reverse the flow of divs
.row.reverse .column {
	float: right;
}

// breakpoint specific new rows
// used to force a new row to avoid float issues.
@media @mq-s-only {
	.nr-s {
		clear: both;
	}
}

@media @mq-m-only {
	.nr-m {
		clear: both;
	}
}

@media @mq-l-only {
	.nr-l {
		clear: both;
	}
}
@media @mq-xl {
	.nr-xl {
		clear: both;
	}
}
