/* modal.less */
 
// float base grid
//
// =========
//
// Requires
// ---------
//
// Contents
// ---------
// modal variables


// modal variables
////////////////////////////////////////////////////////////////////////////////
.modal-background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1030;
	display: none;
	background-color: fadeout(@c-3, 15%);
}

.modal-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	display: none;
	overflow-x: auto;
	overflow-y: scroll;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 0.15s linear 0s;
	transform: translateZ(0);
}

.modal {
	right: auto;
	left: 50%;
	z-index: 1050;
	margin-left: auto;
	margin-right: auto;
	pointer-events: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.modal-container.open,
.modal-container.open > .modal {
	display: block;
}

.modal-background.open {
    display: block;
}

.modal-container.fade-out {
	animation-duration: 0.08s;
}

.modal-background.fade-out {
	animation-duration: 0.15s;
}
