/* mq-show-hide.less */
 
// This module is used show and hide content based on current breakpoint.
//
// =========
//
// Contents
// ---------
// the show hide classes


// the show hide classes
///////////////////////////////////////////////////////////////////////////////

@media @mq-s-only {
    .hide-s,
    .show-m,
    .show-l,
    .show-xl {
        display: none !important;
    }
}

@media @mq-m-only {
    .hide-m,
    .show-s,
    .show-l,
    .show-xl,
     {
        display: none !important;
    }
}

@media @mq-l-only {
    .hide-l,
    .show-s,
    .show-m,
    .show-xl {
        display: none !important;
    }

}

@media @mq-xl {
    .hide-xl,
    .show-s,
    .show-m,
    .show-l {
        display: none !important;
    }
}