/* responsive-embed.less */
 
// This module is used for making embeded content responsize.
//
// =========
//
// Contents
// ---------
// responsive-embed variables
// responsive-embed wrapper
// responsive-embed ratios


// responsive-embed variables
///////////////////////////////////////////////////////////////////////////////

@responsive-embed-default-padding: 56.25%;

// responsive-embed wrapper
///////////////////////////////////////////////////////////////////////////////

.responsive-embed-wrapper{
	position: relative;
	padding-bottom: @responsive-embed-default-padding;

	iframe, object, .responsive-embed-content{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

// responsive-embed ratios
///////////////////////////////////////////////////////////////////////////////
.responsive-embed-16-9{
	padding-bottom: 56.25%;
}

.responsive-embed-4-3{
	padding-bottom: 75%;
}
