@cell-padding-normal: 8px;
@cell-padding-small: 5px;

.fw-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.4em;
    
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: @cell-padding-normal;
                line-height: 1.4em;
                vertical-align: top;
                border-top: 1px solid @c-grey;
            }
        }
    }
    
    > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid @c-grey;
    }
    
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }
    
    > tbody + tbody {
        border-top: 2px solid @c-grey;
    }
}

.fw-table-condensed {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: @cell-padding-small;
            }
        }
    }
}

.fw-table-bordered {
    border: 1px solid @c-grey;
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border: 1px solid @c-grey;
            }
        }
    }
    
    > thead > tr {
        > th,
        > td {
            border-bottom-width: 2px;
        }
    }
}

.fw-table-striped {
    > tbody > tr:nth-of-type(odd) {
        background-color: lighten(@c-grey, 15%);
    }
}

.fw-table-hover {
    > tbody > tr:hover {
        background-color: lighten(@c-2, 20%);
    }
}