/* content.less
 * =========
 *
 * This file controls styling for the content.
 * everything that is not the header or footer
 *
 * Contents
 * ---------
 * Content Variables
 * Modifier Classes
 * Imports
 *
 */


h1{font-size: 1.6em}
h2{font-size: 1.4em}
h3{font-size: 1.2em}
h4{font-size: 1em}

hr {
	height: 1px;
	background-color: @c-grey;
	border: none;
	margin: 0;
	padding: 0;
}

// Content Variables
////////////////////////////////////////////////////////////////////////////////
@text-size-smller: 0.8em;
@text-size-smllest: 0.6em;


// Modifier Classes
////////////////////////////////////////////////////////////////////////////////

.text-smaller {
	font-size: @text-size-smller;
}

.text-smallest {
	font-size: @text-size-smllest;
}

.text-muted {
	color: lighten(@c-black, 20%);
}

.text-center {
	text-align: center;
}

.right {
	float: right;
}

.left {
	float: left;
}

.lone {
	&:extend(.gutter-margin all);
	&:extend(.gutter-padding all);
}

.remove-margin-bottom {
	margin-bottom: 0 !important;
}

.remove-padding-bottom {
	padding-bottom: 0 !important;
}

// Content Box
////////////////////////////////////////////////////////////////////////////////

.fw-content-box {
	background: @c-white;
	&:extend(.gutter-margin all);
	border: 1px solid @c-grey;

	h1, h2, h3, h4 , h5, h6, p, ul, ol {
		&:extend(.gutter-margin-x all);
	}
}

.fw-content-box header {
	border-bottom: 1px solid @c-grey;
	border-top: 1px solid @c-grey;

	h1, h2, h3, h4 , h5, h6, p, ul, ol {
		&:extend(.gutter-margin-y all);
	}

	&:first-child {
		border-top: 0;
	}
}

// Nav UL
////////////////////////////////////////////////////////////////////////////////

.fw-content-box .fw-nav-ul {
	&:extend(.gutter-margin-y all);
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	list-style: none;

	li {
		padding: 0px 14px;
	}

	a {
		display: block;
		color: inherit;
		text-decoration: none;
		padding-top: 2px;
		padding-bottom: 2px;

		&:extend(.gutter-padding-x all);

		&:hover, &.active:hover {
			background-color: lighten(@c-2, 20%); 
		}

		&.active {
			//font-weight: 700;
			background-color: lighten(@c-grey, 15%);
		}
	}
}

// Collection UL
////////////////////////////////////////////////////////////////////////////////

.fw-content-box .fw-collection-ul{
	&:extend(.gutter-margin-y all);
	margin-left: 0;
	margin-right: 0;
	padding: 0px 14px;
	list-style: none;

	li {
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;

		&:extend(.gutter-padding-x all);

		&:hover {
			background-color: lighten(@c-2, 20%); 
		}
	}

	.fw-button-group {
		height: 22px;
		margin: 0;
		float: right;

		a, button {
			height: 100%;
			padding: 0 0.5em;
			line-height: 20px
		}

		&.right {
			a, button {
				margin-right: 0;
				margin-left: 5px;
			}
		}
	}
}

.fw-content-box .fw-collection-ul.hover-buttons li{
	.fw-button-group {
		visibility: hidden;
	}

	&:hover {
		.fw-button-group {
			visibility: visible;
		}
	}
}

// Imports
////////////////////////////////////////////////////////////////////////////////
@import "forms.less";





