/* forms.less
 * =========
 *
 * This file controls styling forms.
 * This includs input, textareas, selects, ect.
 *
 * Contents
 * ---------
 * Inputs
 * Labels
 *
 */


// Inputs
////////////////////////////////////////////////////////////////////////////////

.input-mixin() {
	display: block;
	font-size: 1em;
	background: @c-off-white;
	border: 1px solid @c-grey;
	cursor: pointer;
	margin: 0 10px 10px 0;
	padding: 5px 10px;
}

input:not([type=submit]):not([type=file]) {
    .input-mixin();
	width: 100%;
}

select {
	.input-mixin();
	border-radius: 0px;
	min-width: 120px;
	height: 2em;
	width: 100%;
}

textarea {
	.input-mixin();
	min-height: 180px;
	width: 100%;
}

.fw-input-group {
	&:extend(.cf all);
	&:extend(.gutter-margin all);
	margin-bottom: 0 !important;
}

// Labels
////////////////////////////////////////////////////////////////////////////////

.fw-float-label {
	position: relative;

	* {
		transition: all 0.5s ease; 
	}

	input, textarea, select {
		&:focus, &:valid {
			margin-top: 24px;
		
			&+ label {
				height: 24px;
			}
		}
	}

	&:before {
		//Prevents top-margins from collapsing
		display: table;
		content: " ";
	}

	label {
		position: absolute;
		top: 0;
		left: 0;

		overflow: hidden;
		height: 0;

		font-size: 14px;
		line-height: 24px;

		padding: 0;
		margin: 0;
	}
}

// Buttons
////////////////////////////////////////////////////////////////////////////////

.fw-button-group {
	&:extend(.cf all);
	&:extend(.gutter-margin all);


	a, button {
		&:extend(.fw-button all);
		margin-top: 0;
		margin-right: 5px;
		margin-left: 0;
		margin-bottom: 0;
		display: block;
		float: left;
	}
}

.fw-button {
	font-size: 1em;
	background: @c-white;
	border: 1px solid @c-grey;
	cursor: pointer;
	padding: 5px 10px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 10px;
	line-height: 1.4;

	color: inherit;
	text-decoration: none;

	&:hover {
		background: @c-off-white;
	}
}

.fw-button.fw-button-smaller,
.fw-button-group.fw-button-smaller a,
.fw-button-group.fw-button-smaller button {
	font-size: @text-size-smller;
}

.fw-button.fw-button-smallest,
.fw-button-group.fw-button-smallest a,
.fw-button-group.fw-button-smallest button {
	font-size: @text-size-smllest;
}

// Fix for Firefox bordered fields
input:required {
    box-shadow:none;
}
