/* header.less
 * =========
 *
 * This file controls styling for the header.
 * This includes navigation, session controls, and app select
 *
 * Contents
 * ---------
 * Header Variables
 *
 */


// Header Variables
////////////////////////////////////////////////////////////////////////////////

.fw-header {
	background: @c-1;
	width: 100%;
	min-height: 50px;

	.fw-app-info {
		padding: 5px;
		height: 100%;
	
		.fw-app-logo {
			cursor: pointer;
			height: 50px;
			width: 50px;
		}

		.fw-app-name {
			// TODO: fix colors
			color: @c-off-white;
			font-size: 24px;
			font-weight: 700;
			line-height: 30px;
			padding: 10px;
		}
	}

	.fw-header-link {
		padding: 5px;
		height: 100%;

		.link-text {
			// TODO: fix color
			color: @c-off-white;
			padding: 17px;
			font-size: 14px;
			line-height: 16px;
			user-select: none;
			text-align: center;
		
			strong {
				font-weight: 700;
			}
		}

		&:hover,
		&.open {
			background: @c-3;
		}

		&.border-right {
			border-right: 1px solid @c-off-white;
		}
	}
}

.fw-main-nav {
	background: @c-3;
	font-size: @base-font-size;
	overflow-y: hidden;
	overflow-x: scroll;
	width: 100%;

	ul {
		display: block;
		white-space: nowrap;
		text-align: center;
	}

	li {
		padding: 6px;
		display: inline-block;
	}
	a {
		display: block;
		padding: 4px 5px;
		color: @c-white;
		text-decoration: none;
		border-radius: 4px;

		&.active {
			font-weight: 700;
		}

		&:hover {
			background: @c-2;
		}
	}
}