/* colors.less
 * =========
 *
 * This file generates the colors for a porgram based on a hue and brightness modifier.
 *
 * Contents
 * ---------
 * Color Variables
 * Generated Colors
 * Fixed Colors.
 *
 */


// Color Variable
////////////////////////////////////////////////////////////////////////////////
.setDefaults() {
    @c-hue: 220; //the hue that is used to create the colors
    @c-brigtness-mod: 0; //modify the brightness for the color set. (+-20 recomended)
}

.setDefaults();

// Generated Colors
///////////////////////////////////////////////////////////////////////////////

@c-1: hsv(@c-hue, 70%, 65%+@c-brigtness-mod);
@c-2: hsv(@c-hue, 70%, 82%+@c-brigtness-mod);
@c-3: hsv(@c-hue, 5%, 25%);


// Fixed Colors
///////////////////////////////////////////////////////////////////////////////

@c-white: #fff;
@c-off-white: #EAEAEA;
@c-black: #000;
@c-grey: #BDBDBD;
