/* easy-break.less */
 
// This is used to easily create breakpoint specific rules
//
// =========
// 
// Requires
// ---------
// mq.less
//
// Contents
// ---------
// easy-break variables
// easy-break setup mixin
// easy-break single
// easy-break group


// easy-break variables
///////////////////////////////////////////////////////////////////////////////


// easy-break setup mixin
///////////////////////////////////////////////////////////////////////////////
 
	//used internally to create mixins to contain the rule set for each breakpoint 

._easy-break-setup-mixin() {

	._easy-break-rules-s() when not (@easy-break-value-s = false) {
		@{easy-break-property}: @easy-break-value-s;
	}

	._easy-break-rules-m() when not (@easy-break-value-m = false) {
		@{easy-break-property}: @easy-break-value-m;
	}

	._easy-break-rules-l() when not (@easy-break-value-l = false) {
		@{easy-break-property}: @easy-break-value-l;
	}

	._easy-break-rules-xl() when not (@easy-break-value-xl = false) {
		@{easy-break-property}: @easy-break-value-xl;
	}
}

// easy-break single
///////////////////////////////////////////////////////////////////////////////

	//used to create a breakpoint specific rule set for a single property

.easy-break(@easy-break-property, 
	        @easy-break-value-s: false, 
	        @easy-break-value-m: false, 
	        @easy-break-value-l: false, 
	        @easy-break-value-xl: false) {

	._easy-break-setup-mixin();

	._easy-break-rules-s();

	@media @mq-m{
		._easy-break-rules-m();
	}

	@media @mq-l{
		._easy-break-rules-l();
	}

	@media @mq-xl{
		._easy-break-rules-xl();
	}
}

// easy-break group
///////////////////////////////////////////////////////////////////////////////

	//used to create a breakpoint specific rule set for a multiple properties

	//using this will cause the rules to share media queries,
	//thus making the compiled css cleaner and shorter.

.easy-break-group(@easy-break-property, 
	        @easy-break-value-s: false, 
	        @easy-break-value-m: false, 
	        @easy-break-value-l: false, 
	        @easy-break-value-xl: false) {

	._easy-break-setup-mixin();
}

.easy-break-group-rules() {

	._easy-break-rules-s();

	@media @mq-m {
		._easy-break-rules-m();
	}

	@media @mq-l {
		._easy-break-rules-l();
	}

	@media @mq-xl {
		._easy-break-rules-xl();
	}
}



// .red {
// 	.easy-break(@easy-break-attribute: color, 
// 		        @easy-break-value-s: red,
// 		        @easy-break-value-m: blue,
// 		        @easy-break-value-l: purple,
// 		        @easy-break-value-xl: green);

// 	.easy-break(@easy-break-attribute: width, 
// 		        @easy-break-value-m: 100px,
// 		        @easy-break-value-xl: 200px);
// }

// .blue {
// 	.easy-break-group(@easy-break-attribute: color, 
// 		        @easy-break-value-s: red,
// 		        @easy-break-value-m: blue,
// 		        @easy-break-value-l: purple,
// 		        @easy-break-value-xl: green);

// 	.easy-break-group(@easy-break-attribute: width, 
// 		        @easy-break-value-m: 100px,
// 		        @easy-break-value-xl: 200px);

// 	.easy-break-group-rules();
// }
