/* helpers.less
 * ============
 *
 * This file contains helper css classes that do various small tasks
 *
 * Contents
 * --------
 * Vertical centering
 */

// Vertical Centring (of div elements)
// see http://www.andy-howard.com/verticalAndHorizontalAlignment/
///////////////////////////////////////////////////////////////////////////////
.vcenter-outer {
    display: table;
    height: 100%;
    width: 100%;

    .inner {
        display: table-cell;
        vertical-align: middle;
        margin: 0 auto;
        text-align: center;
    }
}
