/* app-controls.less
 * =================
 *
 * This file controls styling for the app switching UI
 *
 * Contents
 * --------
 * List classes
 */

// List Classes
///////////////////////////////////////////////////////////////////////////////
.fw-content-box .fw-app-switch-ul {
    &:extend(.gutter-margin-y all);
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    list-style: none;

    li {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;

        &:extend(.gutter-padding-x all);

        &:hover {
            background-color: lighten(@c-2, 20%);
        }

        .logo {
            width: 25%;
            margin: 5px;
        }

        .name {
            width: 75%;
            color:inherit;
            text-decoration: none;
        }
    }
}
