/* Notifications */

// Colors (borrowed from Bootstrap)
@note-blue-text: #3a87ad;
@note-blue: #d9edf7;
@note-blue-border: #bce8f1;

@note-red-text: #b94a48; 
@note-red-border: #eed3d7;
@note-red: #f2dede;

@note-green: #dff0d8;
@note-green-text: #468847;
@note-green-border: #d6e9c6;

.fw-notifications {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 7000;
    display: flex;
    flex-direction: column;
}

.fw-notification {
    position: relative;
    display: flex;
    margin-top: 5px;
    padding: 4px;
    width: 220px;
    border: @note-blue-border 1px solid;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.06) 0 1px 7px;
    color: @c-black;
    font-size: 12px;

    &:hover {
        cursor: pointer;
    }
}

.fw-notification-content {
    flex-grow: 1;
    padding: 10px 15px;
    border-radius: 3px;
    transition: background 0.2s ease;
}

.fw-notification em {
    color: @note-blue-text;
    font-style: normal;
}

.fw-notification:hover .fw-notification-content {
    background: @note-blue;
}

.fw-notification-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 6px 5px 5px;
    background: #fff;
    border: 0;
    border-radius: 0 4px 0 4px;

    &:hover {
        background: #fff;
        color: @note-red-text;
        cursor: pointer;
    }
}

.fw-notification-red {
    border: @note-red-border 1px solid;

    em {
        color: @note-red-text;
    }
}

.fw-notification-red:hover .fw-notification-content {
    background: @note-red;
}

.fw-notification-green {
    border: @note-green-border 1px solid;

    em {
        color: @note-green-text;
    }
}

.fw-notification-green:hover .fw-notification-content {
    background: @note-green;
}